
    <h1> New Invite </h1>
    
      <%= form_tag "/invites/#{@invite.id}", method: :patch do %>
    
      <div>
        User EMAIL :  <input type="text" name="form_user_email" value="<%= @event.user.email %>">
      </div>
  <div>
    Guest EMAIL: <input type="text" name="form_guest_email">
  </div>
  <div>
    Guest Phone Number: <input type="text" name="form_guest_phone_number">
  </div>
  <div>
    Event Title: <input type="text" name="form_title"> 
  </div>
  <div>
    Event type:
    <select name="event_type_id">
      <% EventType.all.each do |event_type| %>
        <option value="<%= event_type.id %>"><%= event_type.name %></option>
      <% end %>
    </select>
  </div>
  <div> 
    Hosted By: <input type="text" name="form_host"> 
  </div>
  <div>
    Email Contact: <input type="text" name="form_contact_email" value="<%= @event.user.email %>">  
  </div>
  <div>
    Location: <input type="text" name="form_location"> 
  </div>
  <div>
    Address: <input type="text" name="form_address">
  </div>
  <div>
    City: <input type="text" name="form_city">
  </div>
  <div>
    Event Date/Time: <input type="text" name="form_date_time">
  </div>
  <div>
    Message: <textarea name="form_message" placeholder="Your event details..."> </textarea> 
  </div>
  <div> Custom Font: 
  <select name="form_custom_font">
    <option style="font-family:'Dancing Script';" class="Dancing Script" value="Dancing Script"> Dancing Script </option>
    <option style="font-family:'Amatic SC';" class="Amatic SC" value="Amatic SC"> Amatic SC</option>
    <option style="font-family:'Josefin Slab';" class="Josefin Slab" value="Josefin Slab"> Josefin Slab </option>
    <option style="font-family:'Neucha';" class="Neucha" value="Neucha"> Neucha </option>
    <option style="font-family:'Gloria Hallelujah';" class="Gloria Hallelujah" value="Gloria Hallelujah"> Gloria Hallelujah </option>
    <option style="font-family:'Calligraffitti';" class="Calligraffitti" value="Calligraffitti"> Calligraffitti </option>
</select> 
</div>
  <div>
    <input type="hidden" name="form_background_image" id="form_background_image">
  </div>


<!-- Pics Display -->
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval='false'>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
<!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <a href=""><img src="/event_images/invite1.jpg" alt="Los Angeles" height="600" width="600"></a>
    </div>

    <div class="item">
      <a href=""><img src="/event_images/invite2.jpg" alt="Chicago" height="600" width="600"></a>
    </div>

    <div class="item">
      <a href=""><img src="/event_images/invite3.jpg" alt="New York" height="600" width="600"></a>
    </div>

    <div class="item">
      <a href=""><img src="/event_images/invite4.jpg" alt="New York" height="600" width="600"></a>
    </div>

    <div class="item">
      <a href=""><img src="/event_images/invite5.jpg" alt="New York" height="600" width="600"></a>
    </div>

    <div class="item">
      <a href=""><img src="/event_images/invite6.jpg" alt="New York" height="600" width="600"></a>
    </div>

    <div class="item">
      <a href=""><img src="/event_images/invite7.jpg" alt="New York" height="600" width="600"></a>
    </div>

    <div class="item">
      <a href=""><img src="/event_images/invite8.jpg" alt="New York" height="600" width="600"></a>
    </div>

    <div class="item">
      <a href=""><img src="/event_images/invite9.jpg" alt="New York" height="600" width="600"></a>
    </div>

    <div class="item">
      <a href=""><img src="/event_images/invite10.jpg" alt="New York" height="600" width="600"></a>
    </div>

    <div class="item">
      <a href=""><img src="/event_images/invite11.jpg" alt="New York" height="600" width="600"></a>
    </div>

    <div class="item">
      <a href=""><img src="/event_images/invite12.jpg" alt="New York" height="600" width="600"></a>
    </div>

    <div class="item">
      <a href=""><img src="/event_images/invite13.jpg" alt="New York" height="600" width="600"></a>
    </div>

    <div class="item">
      <a href=""><img src="/event_images/invite14.jpg" alt="New York" height="600" width="600"></a>
    </div>

    <div class="item">
      <a href=""><img src="/event_images/invite15.jpg" alt="New York" height="600" width="600"></a>
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  <input type="submit" class="btn btn-default" value="Update Invite">
<% end %>



<script type="text/javascript">
/* global $ */
  $(document).ready(function() {
    $('#form_background_image').val($('.active').find('img').attr('src'));
    $("#myCarousel").on('slide.bs.carousel',function(e) {
      $('#form_background_image').val($(e.relatedTarget).find('img').attr('src'));
    });
  });
</script>



