
<!-- <h1> Invite Details: </h1> -->
<p class="title"> <%= @invite.title %> </p>
<p class="host"> Host: <%= @invite.host %> </p>
<p align="center" class="message"> <%= @invite.message %> </p>
<!-- 
<p> Contact Person: <%= @invite.user.name %> </p>
 --><p> Contact Host: <%= @invite.user_email %> </p>
<!-- <p> Guest Email: <%= @invite.guest_email %> </p> -->
<!-- <p> Guest Contact: <%= @invite.phone_number %> </p>
 -->
<!-- 
<p align="center" class="message"> <%= @invite.message %> </p>
 --><p class="location"> Location: <br> <%= @invite.location %> </p>
<p class="address"> Address: <br> <%= @invite.address %> </p>
<!-- <p class="city"> City: <%= @invite.city %> </p> -->
<p class="time"> Event Date/Time: <br> <%= @invite.event_date_time.strftime("%A, %b %d, %Y %l:%M %p") %> </p>

<div style="text-align: center;">
<a href="/events">HappyHour</a></div>

<div style="text-align: center;">
<%= form_tag '/twilios', method: :post do %>
  <input type="hidden" name="phone_number" value="<%= @invite.phone_number%>">
  <input type="hidden" name="body" value="http://localhost:3000/invites/<%= @invite.id %>">
  <input type="submit" class="btn btn-primary" value="Send Invite SMS">
<% end %>
</div>

