<h1> Show Event: </h1>
<h3> Event Type: <%= @event.event_type_id %> </h3>
<h3> User ID: <%= @event.user_id %> </h3>
<h3> Description: <%= @event.description %> </h3>

<p>Event type: <%= @event.event_type %></p>
<p>Event type checklist items: <%= @event.event_type.check_list_items %></p>
<% @event.event_type.check_list_items.sort.each do |check_list_item| %>
  <a href=""><h4><%= check_list_item.description %></h4></a>
<% end %>